@tailwind base;
@tailwind components;
@tailwind utilities;

.lora {
  font-family: var(--lora);
}

.current {
  @apply font-black bg-black/[.05] dark:bg-white/[.05]
}

.colorsBase {
  @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100
}

.srolocBase {
  @apply dark:bg-neutral-100 dark:text-neutral-900 bg-neutral-900 text-neutral-100
}

.colorsBaseTransparency {
  @apply bg-neutral-100/5 text-neutral-900 dark:bg-neutral-900/5 dark:text-neutral-100
}

.srolocBaseTransparency {
  @apply dark:bg-neutral-100/5 text-neutral-900 bg-neutral-900/5 dark:text-neutral-100
}

.hoverButton {
  @apply hover:bg-black/[.07] dark:hover:bg-white/[.07] group-hover:bg-black/[.07] group-hover:dark:bg-white/[.07]
}

.transitionNav {
  transition-property: font-weight, stroke-width, background-color;
  transition-timing-function: cubic-bezier(.79,.14,.15,.86);
  transition-duration: 200ms;
}

.nav-link {
  @apply inline-flex flex-col items-center justify-between after:content-[attr(data-text)] after:font-black after:h-0 after:invisible after:overflow-hidden after:pointer-events-none after:select-none
}

.animacaoMenu { 
  @apply data-[motion=from-end]:animate-enterFromRight data-[motion=from-start]:animate-enterFromLeft data-[motion=to-end]:animate-exitToRight data-[motion=to-start]:animate-exitToLeft
}

.disabled {
  @apply !text-neutral-400 dark:!text-neutral-600 pointer-events-none
}







.overlayGradient {
  background: rgb(23,23,23);
  background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(23,23,23,0.875770376509979) 19%, rgba(0,0,0,0) 100%); 
}








@keyframes enterFromTop {
  from {
      opacity: 0;
      transform: translateY(-200px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.animate-enterFromTop {
  animation: enterFromTop .5s ease;
}

@keyframes bounceX {
  0%,
  to {
    transform:translateX(25%);
    animation-timing-function:cubic-bezier(.8,0,1,1)
  }
  50% {
    transform:none;
    animation-timing-function:cubic-bezier(0,0,.2,1)
  }
}
.animate-bounceX {
  animation: bounceX .5s infinite;
}

@keyframes bounceY {
  0%,
  to {
    transform:translateY(10%);
    animation-timing-function:cubic-bezier(.8,0,1,1)
  }
  50% {
    transform:none;
    animation-timing-function:cubic-bezier(0,0,.2,1)
  }
}
.animate-bounceY {
  animation: bounceY 1s infinite;
}
.group[aria-expanded="true"] .gambiarra {
  animation: bounceY 1s infinite;
}

@keyframes rotateActive {
  from {
      transform: none;
  }
  to {
      transform: rotate(-90deg);
  }
}
.animate-rotateActive {
  animation: rotateActive .5s ease forwards;
}